# 排除大型词典文件
ecdict.csv

# 排除自动生成的偷题本/缓存
cheat_sheet.json
my_dict.json

# 排除 Python 运行产生的缓存垃圾
__pycache__/
*.pyc
*.pyo
*.pyd

# 排除 OCR 自动下载的模型文件 (通常在用户目录下，但以防万一)
.paddleocr/
inference/

# 排除调试时产生的临时图片
debug_vision.jpg

# 排除编辑器配置文件
.vscode/
.idea/